In [96]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt

In [94]:
df_sample = pd.read_csv('User_Data.csv')
df_sample = df.dropna(axis=0)
df = df_sample.iloc[0:200,:]
df.head()

   A  B     C
1  2  5  10.0

In [81]:
import pandas as pd

# Sample DataFrame
data = {'A': [1, 2, 3],
        'B': [4, 5, 6]}
df = pd.DataFrame(data)
print(df)
# Using .at[] to change a specific cell value
df.at[1, 'C'] = 10


print(df)

   A  B
0  1  4
1  2  5
2  3  6
   A  B     C
0  1  4   NaN
1  2  5  10.0
2  3  6   NaN

In [103]:
x = [69.21, 73.06, 80.75, 84.59, 84.6, 88.45, 92.29, 96.14, 99.98, 107.68, 111.53]
y = [57.21,57.79,58.94,59.52,59.53,61.26,61.83,62.41,62.42,62.99,63.57,64.15,64.72,64.73,65.3,66.46,67.03,67.04,67.61,68.2,69.35,69.92,69.93,70.51,71.09,71.66,72.24,72.82,73.4,73.98,74.56,75.13,75.71,76.29,76.3,77.44,77.45,78.02,78.6,79.18,80.91,81.49,81.5,82.07,82.64,83.22,83.8,84.38,84.39,85.53,86.11,86.69,87.27,87.84,88.42,88.43,89,89.58,90.15,90.73,91.31,91.32,92.47,93.04,93.62,94.2]
# plt.plot(x,color='green', label='Purchased')
# plt.plot(y,color='red', label='Not Purchased')
# plt.show

[57.21,
 57.79,
 58.94,
 59.52,
 59.53,
 61.26,
 61.83,
 62.41,
 62.42,
 62.99,
 63.57,
 64.15,
 64.72,
 64.73,
 65.3,
 66.46,
 67.03,
 67.04,
 67.61,
 68.2,
 69.35,
 69.92,
 69.93,
 70.51,
 71.09,
 71.66,
 72.24,
 72.82,
 73.4,
 73.98,
 74.56,
 75.13,
 75.71,
 76.29,
 76.3,
 77.44,
 77.45,
 78.02,
 78.6,
 79.18,
 80.91,
 81.49,
 81.5,
 82.07,
 82.64,
 83.22,
 83.8,
 84.38,
 84.39,
 85.53,
 86.11,
 86.69,
 87.27,
 87.84,
 88.42,
 88.43,
 89,
 89.58,
 90.15,
 90.73,
 91.31,
 91.32,
 92.47,
 93.04,
 93.62,
 94.2]